.order_container{
    display: flex;
    justify-content: space-evenly;
}
.sidebar_container{
    background-color:rgba(255, 153, 0, 0.3) ;
    padding:10px;
    height:600px;
    position: sticky;
    top:0;
    
}